# Node.js
node_modules/
dist/

# IDEs and Editors
.DS_Store
*.suo
*.ntvs*
*.csproj.user
*.userprefs

# Testing
coverage/

# System Files
.env
.env.local
.env.development
.env.production

# Miscellaneous
*.log
*.tmp
Thumbs.db

# TypeScript
*.tsbuildinfo

# Husky
.husky/

# Docker 
data

#other
changelog.md